annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.12.1
certifi==2026.4.22
click==8.2.1
clip @ git+https://github.com/openai/CLIP.git@d05afc436d78f1c48dc0dbf8e5980a9d471f35f6
colorama==0.4.6
cuda-toolkit==13.2.1
dnspython==2.7.0
email-validator==2.3.0
exceptiongroup==1.3.1
fastapi==0.128.8
fastapi-cli==0.0.22
fastapi-cloud-cli==0.12.0
fastar==0.11.0
filelock==3.19.1
fsspec==2025.10.0
ftfy==6.3.1
h11==0.16.0
httpcore==1.0.9
httptools==0.7.1
httpx==0.28.1
idna==3.13
jinja2==3.1.6
markdown-it-py==3.0.0
markupsafe==3.0.3
mdurl==0.1.2
mpmath==1.3.0
networkx==3.2.1
numpy==2.0.2
packaging==26.2
pillow==11.3.0
psycopg2==2.9.12
pydantic==2.13.3
pydantic-core==2.46.3
pydantic-extra-types==2.11.1
pydantic-settings==2.11.0
pygments==2.20.0
python-dotenv==1.2.1
python-multipart==0.0.20
pyyaml==6.0.3
regex==2026.1.15
rich==15.0.0
rich-toolkit==0.19.7
rignore==0.7.6
sentry-sdk==2.59.0
shellingham==1.5.4
starlette==0.49.3
sympy==1.14.0
tomli==2.4.1
torch==2.8.0
torchvision==0.23.0
tqdm==4.67.3
typer==0.23.2
typing-extensions==4.15.0
typing-inspection==0.4.2
urllib3==2.6.3
uvicorn==0.39.0
watchfiles==1.1.1
wcwidth==0.7.0
websockets==15.0.1
